.login {
 height: 93vh;
 background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),url('./assets/images/LoginRestaurant.jpg');
 position: relative;
 background-size: cover;
 background-position: top;

 -webkit-clip-path: polygon(0 0, 100% 20%, 100% 89%, 0% 100%);
 clip-path: polygon(0 0, 100% 20%, 100% 89%, 0% 100%);

}