@font-face {
    font-family: 'Lato-Italic';
    src: local('Lato-Italic'), url('./Lato/Lato-Italic.ttf') format('truetype');

}
body {
    font-family: 'Lato-Italic'; //100 , 300, 400, 700, 900
    font-weight: 400;
    line-height: 1;
  }
.company__header-text {
    font-size: 180% !important;
}
.company__paragraph-text {
    font-size: 140% !important;
}
.text-center {
    text-align: center;
}

.font__size {
   &-1 {
      font-size: 1rem !important;
   }
   &-2 {
      font-size: 1.5rem !important;
   }
   &-3 {
      font-size: 2rem !important;
   }
   &-4 {
      font-size: 2.5rem !important;
   }
   &-5 {
      font-size: 3rem !important;
   }
   &-6 {
      font-size: 3.5rem !important;
   }
   &-7 {
      font-size: 4rem !important;
   }
} 
